
/* location dropdown menu */
.drop{
    background: none;
    border: transparent;
    position: relative;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0; 
    top: 100%; /* Position the dropdown just below the button */
  
  }
  .dropdown{
    position: relative;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgba(221, 221, 221, 0.1);}
  
  .dropdown:hover .dropdown-content {display: block;}


  /* underline animation */


  .nav-pills .nav-link {
    position: relative;
    color: #393a3d;
    background-color: transparent;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
  }
  
  .nav-pills .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #393a3d;
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
  }
  
  .nav-pills .nav-link:hover::after,
  .nav-pills .nav-link.active:hover::after {
    width: 100%;
    left: 0;
    background-color: #393a3d;
  }